<!DOCTYPE html>
{% if USE_OPEN_GRAPH is not defined %}
    {% set USE_OPEN_GRAPH = True %}
{% endif %}
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"{% if USE_OPEN_GRAPH %} prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml"{% endif %}>
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% if 'liquid_tags.notebook' in PLUGINS %}
        {% include 'includes/liquid_tags_nb_header.html' %}
    {% endif %}

    {# Favicons are a touchy subject. For reasoning for the following code, see: http://stackoverflow.com/a/23851464/872397 #}
    {% if FAVICON %}
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/../{{ FAVICON }}" rel="icon" />
    {% endif %}
    {% if FAVICON_IE %}
    <!--[if IE]><link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON_IE }}"><![endif]-->
    {% endif %}
    {% if TOUCHICON %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/../{{ TOUCHICON }}" />
    {% endif %}

    {% block canonical_rel %}{% endblock %}
    {% block headertranslation %}{% endblock %}

    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}

    <link rel="author" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/../humans.txt" />
	
    {# Open Graph tags #}
    {% if USE_OPEN_GRAPH %}
    {% block opengraph %}
    <!-- Open Graph tags -->
        {% if OPEN_GRAPH_FB_APP_ID %}
            <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
        {% endif %}
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ SITENAME }}"/>
        <meta property="og:url" content="{{ SITEURL }}"/>
        <meta property="og:description" content="{{ SITENAME }}"/>
        {% if OPEN_GRAPH_IMAGE %}
            <meta property="og:image"
                  content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/../{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
    {% endblock %}
    {% endif %}

    {# Twitter Cards tags #}
    {% include 'includes/twitter_cards.html' %}

    <!-- Bootstrap -->
    {% if BOOTSTRAP_THEME %}
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/themes/{{ BOOTSTRAP_THEME }}/bootstrap.min.css" rel="stylesheet"/>
    {% else %}
	 <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" rel="stylesheet"/>
    {% endif %}
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/magnific-popup.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap-4-navbar.min.css" rel="stylesheet"/>	 
    {% block extracss %}{% endblock %}
    
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/entypo.css" rel="stylesheet"/>

    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet"/>
    {% if 'tipue_search' in PLUGINS %}
    <link href="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.css" rel="stylesheet"/>
    {% endif %}
    {% if DOCUTIL_CSS %}
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/html4css1.css" rel="stylesheet"/>
    {% endif %}
    {% if TYPOGRIFY %}
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/typogrify.css" rel="stylesheet"/>
    {% endif %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css"/>
    {% if CUSTOM_CSS %}
        <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet"/>
    {% endif %}
    {% if SHARIFF %}
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/shariff/shariff.min.css" rel="stylesheet"/>
    {% endif %}

    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}

    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% if tag and TAG_FEED_ATOM %}
        <link href="{{ SITEURL }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} {{ tag }} ATOM Feed"/>
    {% endif %}

    {% if category and CATEGORY_FEED_ATOM %}
        <link href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} {{ category }} ATOM Feed"/>
    {% endif %}

</head>
<body>

<nav class="navbar navbar-expand-lg {% if BOOTSTRAP_NAVBAR_INVERSE %}navbar-inverse bg-inverse{% else %}navbar-light bg-light{% endif %} fixed-top" role="navigation">
    {% if MENUITEMS or (pages and DISPLAY_PAGES_ON_MENU) or (categories and DISPLAY_CATEGORIES_ON_MENU) %}
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% endif %}
    {% if SITELOGO or not HIDE_SITENAME %}
    <a href="{{ SITEURL }}/" class="navbar-brand">
        {% if SITELOGO %}<img class="img-fluid float-left gap-right" src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/> {% endif %}
        {% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %}
    </a>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbar-main-collapse">
        <ul class="navbar-nav">
            {% for title, link in MENUITEMS %}
                <li class="nav-item"><a href="{{ link }}" class="nav-link">{{ title }}</a></li>
            {% endfor %}
            {% if not PAGES_SORT_ATTRIBUTE -%}
                {% set PAGES_SORT_ATTRIBUTE = 'title' %}
            {%- endif %}
		{% if DISPLAY_PAGES_ON_MENU %}
		{% import 'includes/make-menu.html' as makemenu with context %}
                {% for p in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) if not p.hidden %}
		   {% if not p.parent %}
		   {# page is a top level page #}
                   {{ makemenu.make_menu_entry(p,page) }}
		    {% endif %}
                  {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li class="nav-item {% if cat == category %}active{% endif %}">
                        <a href="{{ SITEURL }}/{{ cat.url }}" class="nav-link">{{ cat | capitalize }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <ul class="navbar-nav navbar-right">
        {% if 'tipue_search' in PLUGINS %}
          <li class="nav-item"><span>
            <form class="navbar-search" action="{{ SEARCH_URL | default('/search.html') }}">
              <input type="text" class="search-query" placeholder="Search" name="q" id="tipue_search_input" required>
            </form></span>
          </li>
        {% endif %}
        {% if ARCHIVES_SAVE_AS %}
          <li class="nav-item"><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}" class="nav-link"><i class="icon-list"></i><span class="icon-label">{{ _('Archives') }}</span></a></li>
        {% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav> <!-- /.navbar -->
<!-- Banner -->
{% block banner %}
<style>
	#banner{
	    background-image:url("{{ SITEURL}}/{{ THEME_STATIC_DIR }}/../{{ BANNER }}");
	}
</style>

<div id="banner">
  <div class="container-fluid">
    <div class="header-logo">
      <a class="pull-left" href="{{ SITEURL }}/"><img class="mr20" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/../{% if page and page.logo %}{{ page.logo }}{% else %}{{LOGO}}{% endif %}" alt="{{ SITENAME }}"></a>
    </div>
  </div>
</div>
{% endblock %}
<!-- End Banner -->
<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
    <div class="row">
        {% if not HIDE_SIDEBAR or ABOUT_ME or AVATAR %}
        <div class="col-md-9{% if SIDEBAR_ON_LEFT %} push-md-3{% endif %}">
        {% else %}
        <div class="col-xl-12">
        {% endif %}
        {% block breadcrumbs %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </div>
        {% if not HIDE_SIDEBAR or ABOUT_ME or AVATAR %}
        <div class="col-md-3{% if SIDEBAR_ON_LEFT %} pull-md-9{% endif %}" id="sidebar">
            <aside>
            {% if ABOUT_ME or AVATAR %}
                {% include 'includes/aboutme.html' %}
            {% endif %}
            {% if not HIDE_SIDEBAR %}
                {% include 'includes/sidebar.html' %}
            {% endif %}
            </aside>
        </div>
        {% endif %}
    </div>
</div>
{% include 'includes/footer.html' %}

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap-4-navbar.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.magnific-popup.min.js"></script>
<script>
$('.popup-gallery').magnificPopup({
	delegate: 'a',
	type: 'image',
	gallery: {
		enabled: true,
		navigateByImgClick: true,
		preload: [1,2]
	}
});
</script>
{% block extrajs %}{% endblock %}

{% if BANNER %}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bodypadding.js"></script>
{% endif %}

{% if 'liquid_tags.notebook' in PLUGINS %}
    {% include 'includes/liquid_tags_nb_footer.html' %}
{% endif %}

{% block scripts %}{% endblock %}
</body>
</html>
